*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    
    
    
}

.imagen__fondo{
    background-image: url(../img/imagenfondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* menu */
.hover:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}



.nav{
    text-decoration: none;
    color: black;
    width: fit-content;
    text-align: center;
    padding: 0.3rem;
    
    
}

.logo{
    width: 70px;
    transition: all 0.4s ease;
    
}

.logo:hover{
    transform: scale(1.1);
    
}

.boton__nav{
    background-color: black;
    border-radius: 5px;
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#ff8cee, #8f5cf7);
    width: 100%;
    
    
}

.div2{
    margin-right: 25%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}
.nav__mobile{
    background-image: linear-gradient(#ff8cee, #8f5cf7);
    display: none;
    justify-content: space-around;
    bottom: 0%;
    position: fixed;
    width: 100%;
    padding: 5px;
}

.nav__mobile__icons{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: black;
}

.icon{
    font-size: 2.2rem;
}


@media only screen and (max-width:767px) {
    .nav__mobile{
        display: flex;
        
    }
    .div2{
        display: none;
    }
    footer{
        display: none;
    }
    article img {
        display: none;
    }
    
    /* contacto */
    
    .cuadro__form{
        margin-bottom: 100px;
    }

    /* modos de juego */
    .yout__vid{
        margin-bottom: 100px;
    }

    
}

/* fin de nav */



/* Inicio tabla */
.grid1{ grid-area: titulo;}
.grid2{ grid-area: cuenta;}
.grid3{ grid-area: gananciad;}
.grid4{ grid-area: gananciam;}
.grid5{ grid-area: pelu;}
.grid6{ grid-area: celso;}
.grid7{ grid-area: gpd;}
.grid8{ grid-area: gpm;}
.grid9{ grid-area: gpd2;}
.grid10{ grid-area: gpm2;}


.grid__container{
    margin-bottom: 130px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    padding: 5px;
    grid-template-areas: 
    'titulo titulo titulo'
    'cuenta gananciad gananciam'
    'pelu gpd gpm'
    'celso gpd2 gpm2'
    ;

}

.grid__container div {
    background-color: rgb(96, 69, 189);
    border: solid black;
    text-align: center;
}

@media only screen and (max-width:1023px){
    .imagen__portada{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        border: solid black;
    }
    .grid__container{
        margin-bottom: 100px;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-areas: 
        'titulo titulo'
        'pelu celso'
        'gananciad gananciad'
        'gpd gpd2'
        'gananciam gananciam'
        'gpm gpm2'
        
        ;
        
        }
    .grid2{
        display: none;
    }
    @media only screen and (max-width:767px){
        .grid__container{
            margin-left: 2%;
            margin-right: 2%;
        }
        .imagen__portada{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            border: none;
        }
    }
    
}



/* fin de tabla */



















/* animaciones */

@keyframes titulojuego {
    from {
      margin-left: 50%;
      width: 90px;
      
      
    }
  
    to {
      margin-left: 10px;
      width: 90px;
      
    }
  }

  @keyframes titulonoticias {
    from {
      margin-left: 40%;
      width: 400px;
      
      
    }
  
    to {
      margin-left: 10px;
      width: 400px;
      
    }
  }

  @keyframes tituloanimado {
    0%   { opacity: 0; }
    100%  { opacity: 1; }
      
  }

  @keyframes tituloanimation2 { 
      from {
          margin-left: 50%;
          width: 510px;
      }
      to{
          margin-left: 35%;
          width: 510px;
      }
      
  }

  @media only screen and (max-width:1024px){
    .lista__ax{
        font-size: 1.2rem;
        width: 500px;
    }
    @keyframes titulonoticias {
        from {
          display: none; 
        }
      
        to {
          display: none; 
        }
      }
      @keyframes titulojuego {
        from{
            display: none;
        }
        to{
            display: none;
        }
    }
    @keyframes tituloanimation2 {
        from{
            display: none;
        }
        to{
            display: none;
        }
        
    }
}
@media only screen and (max-width:767px){
    .lista__ax{
        font-size: 1rem;
        width: 400px;
    }
    
    

}  

  

.yout__vid{
    margin-left: 10px;
    margin-top: 10px;
}

article img{
    width: 5cm;
    margin-bottom: 100px;
    
    
}

@media only screen and (max-width:1024px){
    .titulo__juego{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .p__mjuego{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .subtitulo__not{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        text-align: center;
    }
    .yout__vid{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    @media only screen and (max-width:766px){
        .titulo__juego{
            width: 100px;
        }
        .p__mjuego{
            width: 400px;
            text-align: center;
        }
        .subtitulo__not{
            width: 350px;
        }
    }
}

