// views 
@import "./views/home";
@import "./views/noticias";
@import "./views/contacto";
@import "./views/cartas";
@import "./views/axies";
@import "./views/acuatico";
@import "./views/modosdejuego";

// partials
@import "./partials/header";
@import "./partials/footer";

//misc
@import "./misc/var";
@import "./misc/normalize";
@import "./misc/mixins";


