// import 
@import "../misc/var";

footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.footer { 
    position: absolute;
    width: 100%;
    height: 90%;
    
    & div ul li {
        list-style: none;
        text-align: center;
        & h4 {
            font-size: 2rem;
        }
        & a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            
        }
        
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    &__container {
        display: flex;
        justify-content: space-around;
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            & div {
                display: flex;
                justify-content: space-around;
                width: 100%;
                & i {
                    font-size: 2rem;
                    padding-top: 8px;
                    color: #005add;
                }
            }
        }
    }
    &__img {
        height: 64px;
        border-radius: 1rem;
    }
}

// media 

@media only screen and (max-width:1024px){
    footer {
        display: none;
    }
}
