/* menu */


.logo{
    width: 70px;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#ff8cee, #8f5cf7);
    width: 100%;
    .nav {
        text-decoration: none;
        color: black;
        width: fit-content;
        text-align: center;
        padding: 0.3rem;                           
    }
    &__div2 {
        margin-right: 25%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        .boton__nav {
            background-color: black;
            border-radius: 5px;
            color: white;
        }
        
    }
}


.nav__mobile{
    background-image: linear-gradient(#ff8cee, #8f5cf7);
    display: none;
    justify-content: space-around;
    bottom: 0%;
    position: fixed;
    width: 100%;
    padding: 5px;
    &__icons {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        text-align: center;
        color: black;
    }
}


@media only screen and (max-width:767px) {
    .nav__mobile{
        display: flex;
        
    }
    .menu__div2{
        display: none;
    }

}

/* fin de nav */

article img{
    width: 5cm;
    margin-bottom: 100px;
    
    
}
