// axies 

/* tipos de axies */
.imagen__axie {
    display: flex;
    justify-content: center;
}
.imagen__info__axie {
    width: 1024px;
    & img {
        width: 100%;
    }
}

@keyframes imagenaxie {
    0% {width: auto;}
    100% {width: 70%;}
    
}

@media only screen and (max-width:1024px){
        .imagen__axie {
            width: auto;
        }
    @media only screen and (max-width:767px){  
    }  
}  