// modos de juego 

/* modos de juego */
.modos {
    width: 100%;
    height: 65vh;
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    &__container {
        height: 30vh;
        &__foto{
            position: absolute;
            background-color: #222635;
            width: 100%;
            height: 37vh;
            &__info {
                padding: 2rem;
                & h1 {
                    font-size: 3rem;
                    color: white;
                    text-align: center;
                    padding-bottom: 1rem;
                }
                & p {
                    font-size: 1.2rem;
                    color: white;
                    text-align: center;
                }
            }
        }
    }
    &__data {
        background-color: #27493f;
        padding: 5rem;
        & h2 {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 20px;
            
        }
        & p {
            font-size: 1.2rem;
            margin-bottom: 50px;
            text-align: center;
            
        }
        &__info {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        
    }
}



@media only screen and (max-width:1024px){
    .titulo__juego{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .titulo__juego__nuevo{
        font-size: 2.0rem;
        width: 330px;
    }
    .p__mjuego{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .yout__vid{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    @media only screen and (max-width:766px){
        .titulo__juego{
            width: 100px;
        }
        .titulo__juego__nuevo{
            width: 250px;
        }
        .p__mjuego{
            width: 360px;
            text-align: center;
        }
        .yout__vid{
            margin-bottom: 100px;
        }
    }
}